/* General Styling */

a{
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

/* Custom Styling */
.galcontainer{
	width:95%;
	margin: 90px auto;
	overflow:auto;
}

/* Nav Styling 
#galnavbar{
	display:block;
	height:40px;
	background:#13181d;
}
*/
#galnavbar a{
	color:#fff;
	display:inline-block;
	height:40px;
	line-height:37px;
	padding:0 15px;
}

#galnavbar a.active, #galnavbar a:hover{
	background:#333;
}


/* Content Styling */
#main{
	
	overflow:hidden;
	width:100%;
	margin: 0 auto;
	min-height:475px;
}

#main li{
	float:left;
	height:96px;
	list-style:none;
	margin:6px;
	position:relative;
	width:125px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#main ul{
	overflow:hidden;
}

#main ul.hidden{
	display:none;
}